.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
Nav {
  max-height: "100px";
}
.Navbar {
  padding: 20px;
}
.btn {
  padding: 0 10px 0;
  height: 40px;
  margin: 0 5px 0;
  text-align: center;
  border: none;
  border-radius: 30px;
}
#signup:hover,
#login:hover {
  border-radius: 30px;
  color: white;
  text-decoration: none;
}
